<h1><%= @question.header %></h1>

<p class= "contributer">Asked by: <%= @question.user.username %></p>

<p><%= @question.content %></p>

<ul>
  <% if @best_answer %>
  <h4>Best Answer</h4>
  <div class="best-answer">
    <li>
      <%= @best_answer.content %>
      <br/>- <span class="contributer">Answerer: <%= @best_answer.user.username %></span>
      <% if @best_answer.user == current_user %>
        <%= link_to "Edit this answer", edit_answer_path(@best_answer), id: "edit_answer_link", remote: true, :class => 'btn btn-info btn-xs' %>
      <% end %>
    </li>
  </div>
  <h4>Other Answers</h4>
  <% end %>
</ul>

<ul>
  <div id = "other-answers">
    <% @question.answers.each do |answer| %>
      <% if !answer.is_best %>
        <div class="other-answer" id="<%=answer.id%>">
          <li>
            <%= answer.content %>
            <br/>- <span class="contributer">Answerer: <%= answer.user.username %></span>
            <% if answer.user == current_user %>
              <%= link_to "Edit this answer", edit_answer_path(answer), id: "edit_answer_link", remote: true, :class => 'btn btn-info btn-xs' %>
            <% end %>
            <% if @question.user == current_user %>
              <%= form_for answer, remote: true, :class => 'form-inline' do |f| %>
                <%= f.hidden_field :is_best, :value => true %>
                <%= f.submit "Mark as Best Answer", :class => 'btn btn-xs btn-info', :id => 'mark-best' %>
              <% end %>
            <% end %>
          </li>
        </div>
      <% end %>
    <% end %>

  </div>
</ul>

<% if user_signed_in? %>
  <%= link_to "Add an Answer", new_question_answer_path(@question), id: "new_answer_link", remote: true, :class => 'btn btn-info' %>
<% end %>

<br/>

<% if current_user == @question.user %>
  <p><%= link_to 'Delete Your Question', question_path(@question), :data => { :method => 'delete', :confirm => 'Are you sure you want to reduce this question to scattered ions?' } %></p>
<% end %>
