
<% if @answer.errors.any? %>
  <h3>Please correct the following errors: </h3>
  <ul>
    <% @answer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@answer) do |f| %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :content, "Your answer: " %>
    <%= f.text_area :content, :class => 'form-control' %>
  </div>
  <%= f.submit :class => "btn btn-info" %>

<% end %>
